* {
  box-sizing: border-box;
}
body {
  background-image: url(../img/sfondo.png);
  margin: 20px;
}
body header,
body main,
body footer {
  max-width: 90%;
  margin-inline: auto;
}

header {
  background: linear-gradient(180deg, #0299be, #036e87);
  box-shadow: 0 2px 7px #000;
  position: sticky;
  top: 0;
  z-index: 999;
}

header img {
  max-width: 100%;
  margin-top: 20px;
}
header nav ul {
  display: flex;
  justify-content: center;
  padding-block: 30px;
}
header nav ul li {
  list-style: none;
  position: relative;
}
header nav ul li::before {
  content: "✩";
  width: 1px;
  height: 1px;
  position: absolute;
  left: 3px;
}
header nav ul li a {
  text-decoration: none;
  color: #fff;
  margin-left: 20px;
  font-size: 14px;
}

main {
  background-color: #fff;
  margin-block: 30px;
  line-height: 1.5rem;
}
/* Adding Blue Underline to a part title*/
.blue-underline {
  background-image: url(../img/underline.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-bottom: 22px;
}

main article,
main aside {
  padding: 30px 15px;
}
main h1 {
  font-size: 30px;
  font-weight: 600;
  line-height: 2rem;
}
main article .subtitle {
  color: rgb(164, 161, 161);
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 13px;
}
.logo-badge-box {
  border: 2px solid red;
  display: inline-flex;
  float: left;
  margin-right: 10px;
}

.logo-badge-box img {
  border: 3px solid #0299be;
  display: inline-block;
  padding: 2px;
}
ul code {
  background-color: #e3e3e3;
}
.only-top {
  margin-top: 1rem;
}
.violet {
  color: #a12572;
}
.padding-end {
  margin-left: 30px;
  margin-block: 20px;
}
table {
  width: 80%;
  margin-inline: auto;
  text-align: start;
  border-bottom: 3px solid #3f6bca;
}
table caption {
  font-weight: 700;
}
th {
  background-color: #3f6bca;
  color: #fff;
  padding-right: 1rem;
  padding-left: 1rem;
}
td {
  text-align: center;
}
tr:nth-child(even) {
  background-color: #f3f3f3;
}

main iframe {
  max-width: 100%;
}
main a {
  color: #0299be;
}
.beige-bg {
  background-color: #e3e3e3;
}
main section {
  margin-top: 40px;
  padding: 20px;
  position: relative;
}
main section h2 {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  background-color: #a3a3a3;
  width: 35%;
  padding: 5px;
  position: absolute;
  bottom: 85%;
  box-shadow: 1px 2px 1px rgb(126, 125, 125);
}
main section p {
  margin-block: 1rem;
}
main section form button {
  color: #fff;
  background-color: #3f6bca;
  border: 0;
}
main section form input {
  border: 0;
  border-bottom: 1px dashed grey;
}
aside h2 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 3rem;
}
aside i {
  font-size: 13px;
}
.categia-p {
  position: relative;
}
.fa-tag {
  font-size: 50px;
  position: absolute;
  top: 5%;
  right: 3%;
  color: #cac6c6;
}
.pos-relative-data {
  position: relative;
  height: 6vh;
  padding: 10px;
}
.data {
  font-size: 12px;
  position: absolute;
  right: 10px;
}

footer {
  background: linear-gradient(180deg, #075566, #32393b);
  height: 10vh;
  color: #fff;
  font-size: 12px;
}
footer p {
  padding-top: 15px;
  text-align: center;
  font-weight: 100;
}
footer address {
  margin: 18px auto 20px;
  width: 80%;
  text-align: center;
}
footer address a {
  color: rgb(250, 54, 244);
}

@media screen and (min-width: 0px) {
  header {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
  }
  header img {
    width: 50%;
    margin-inline: auto;
  }
  header p:first-of-type {
    font-size: 13px;
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
  }

  main iframe {
    display: block;
    width: 100%;
    height: 15vh;
    border-radius: 10px;
  }
  main section h2 {
    bottom: 90%;
  }
  table {
    width: 100%;
  }
  .btns-container {
    position: fixed;
    bottom: 20%;
    right: 5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .btns-container button {
    background-color: rgba(245, 244, 244, 0.74);
    height: auto;
    border-radius: 5px;
    padding: 10px;
    border: 0;
    cursor: pointer;
  }
  .plus-and-calendar {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
  }
  header div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header p:first-of-type {
    font-size: 15px;
    margin-inline: auto;
    margin-block: auto;
  }
  header img {
    width: 30%;
    margin-bottom: 20px;
    margin-left: 30px;
  }
  header nav ul {
    margin-right: 1rem;
  }
  header nav ul li a {
    font-size: 14px;
    padding-right: 1rem;
  }

  main h1 {
    font-size: 45px;
  }

  table {
    width: 70%;
    margin-bottom: 4rem;
  }
  th {
    padding-block: 0.5rem;
  }
  td {
    padding-block: 1rem;
  }

  main .iframe-and-input {
    display: flex;
    align-items: self-end;
    justify-content: center;
    height: 20vh;
  }

  main iframe {
    flex: 1;
    width: auto;
    max-height: 100%;
    height: 15vh;
  }
  main section {
    flex: 1;
    width: auto;
    max-height: 100%;
    height: 15vh;
    border-radius: 10px;
  }
  main section h2 {
    bottom: 80%;
  }
  main section input,
  button {
    height: 2rem;
  }
  main section input {
    width: 70%;
  }
  main section button {
    width: 25%;
    padding-inline: 20px;
    font-size: 10px;
  }

  aside .aside-box {
    display: flex;
    align-items: baseline;
  }
  .aside-box div {
    flex: 1 1 30%;
    border-right: 1px solid #6e6c6c;
    height: 10vh;
  }
  aside h2 {
    font-size: 10px;
  }
  .pos-relative-data p:nth-of-type(1) {
    font-size: 15px;
    margin-top: 5px;
  }
  .data {
    bottom: 1%;
  }
  footer p {
    font-size: 15px;
  }
  footer address {
    font-size: 15px;
    margin-block: 30px;
    width: 50%;
  }
  .btns-container {
    top: 2%;
    right: 0;
    gap: 100%;
  }
}
